<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
<div class="main-container">
    <table>
        <tr>
            <th>Статус</th>
            <th>Url</th>
            <th>Время опроса с</th>
            <th>Задержка мс</th>
        </tr>
        <tr th:each="item : ${urls}">
            <td>
                <span th:if="${item.status == true}" style="color: green;">&#11044; online</span>
                <span th:if="${item.status == false}" style="color: red;">&#11044; offline</span>
            </td>
            <td th:text="${item.url}">Url not found</td>
            <td th:text="${item.response_period}">Poll Time not found</td>
            <td th:text="${item.delay}">delay not found</td>
            <td th:text="${item.id}" style="display: none;">id not found</td>
        </tr>
    </table>
</div>

<div class="bottom-panel">
    <form method="post" th:action="@{/addurls}" class="form-container">
        <div class="input-wrapper">
            <input type="url" class="input" name="url" placeholder="Введите Url...">
            <input type="number" class="input" name="response_period" placeholder="Введите время опроса...">
        </div>
        <button type="submit" class="button">Добавить</button>
        <button type="submit" class="button">Проверить узел</button>
    </form>
    <form method="post" th:action="@{/deleteurls}" class="form-container">
        <input type="hidden" name="id" >
        <button type="submit" class="button">Удалить</button>
    </form>
    <form method="post" action="/home" class="form-container">
        <button type="submit" class="button">Получить текущий статус</button>
    </form>
</div>
<script>
    const rows = document.querySelectorAll('tr');
    const inputUrl = document.querySelectorAll('input')[0];
    const inputTime = document.querySelectorAll('input')[1];
    const inputId = document.querySelectorAll('input')[2];

    rows.forEach((row, index) => {
        row.addEventListener('click', () => {
            if (index === 0) {
                return;
            }

            rows.forEach(r => {
                r.classList.remove('selected');
            });

            row.classList.add('selected');

            const cells = row.querySelectorAll('td');
            inputId.value = cells[4].textContent.trim();
            inputUrl.value = cells[1].textContent.trim();
            inputTime.value = cells[2].textContent.trim();
        });
    });
</script>
</body>
</html>